footer {
    background-color: #eeeeee;
}

body {
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #3275ad;
}

li {
    margin-bottom: 10px;
}